<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<table class="table table-hover ">
  <thead class="table-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Unfriend</th>
    </tr>
  </thead>
  <tbody id="friends">
    <% @friends.each do |friend| %>
      <%= render partial: "friend", locals: { friend: friend } %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>

